 <div ng-hide='vm.eventSelected || vm.newEvent'>
 
 	  <div class="row">
          <div class="col-md-12">
              <h1 class="page-head-line">SD Events</h1>
          </div>
	 </div>
	 
	 <div id="page-wrapper-f">
	     <div id="page-inner">
		<table class="table">
			<thead>
				<tr>
					<th>Event Description</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in vm.eventList">
					<td>{{event.description}}</td>
					<td>{{event.date | date: 'MM/dd/yyyy'}}</td>
					<td ng-show='vm.currentAdmin()'><input class="btn btn-success" type='submit' value='Edit' ng-click='vm.editEvent(event)' /></td>
				</tr>
			</tbody>
		</table>
	  </div> <!-- end page inner -->
	</div> <!-- end page wrapper -->
	<div class="new-buttons" ng-show='vm.currentAdmin()'>
		<input type='submit' class="btn btn-success" value='New Event' ng-click='vm.newEvent = true' />
	</div>
	
</div> <!-- end ng-hide -->

 <div ng-show="vm.eventSelected">
     <div class="row">
         <div class="col-md-12">
             <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">Edit Event</h1>
         </div>
     </div>
	 <div id="page-wrapper-f">
	     <div id="page-inner">
			<form>
				<label>Description:</label><input type='text' style='width:300px' ng-model='vm.eventSelected.description'><br>
				<label>Date:</label><input type='date' ng-model='vm.eventSelected.date'><br><br>
				<!--<label>Public:</label>
				<select ng-model='vm.eventSelected.publicEvent'>
					<option value='YES'>yes</option>
					<option value='NO'>no</option>
				</select>
				<input type='text' ng-model='vm.eventSelected.publicEvent'><br> -->
				<input class="btn btn-success" type='submit' value='Save' ng-click='vm.updateEvent(vm.eventSelected)' />
				<input class="btn btn-danger" type='submit' value='Delete' ng-click='vm.deleteEvent(vm.eventSelected.id)' /><br>
				<!-- <input type='submit' value='Cancel' ng-click='vm.displayEvents()' /><br> -->
			</form>
		</div> <!-- end inner -->
	</div> <!-- end wrapper -->
</div> <!-- end ng-show -->

 <div ng-show="vm.newEvent == true">
     <div class="row">
         <div class="col-md-12">
             <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">New Event</h1>
         </div>
     </div>	
	 <div id="page-wrapper-f">
	     <div id="page-inner">
		<form>
			<label>Description:</label><input type='text' style='width:300px' ng-model='new.description'><br>
			<label>Date:</label><input type='date' ng-model='new.date'><br>
			<input class="btn btn-success" type='submit' value='New Event' ng-click='vm.createEvent(new); new={}' /><br>
			<input class="btn btn-primary" type='submit' value='Cancel' ng-click='vm.displayEvents()' /><br>
		</form>
		</div> <!-- end inner -->
	</div> <!-- end wrapper -->
</div> <!-- end ng-show -->

