<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

	<a href="#/home"><img src="img/generalImages/SDConnectLogo.png" height="70px" /></a>
		<div class="input-group" id="login-box">
			<input style="font-size: 1.2em" type="text" id="login-email" placeholder=" Your Email" ng-model="u.email" /> 
			<input style="font-size: 1.2em" type="password" id="login-password" placeholder="Your Password" ng-model="u.password" />
			<button type="button" class="btn btn-primary" ng-click="vm.login(u)">Log In</button>
		</div>

</nav>

<register></register>


<!-- class="input-group"  -->
