<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<a href="#/home"><img src="img/generalImages/SDConnectLogo.png" height="70px" /></a>
	<div class="login-space"></div>
		<div class="input-group" id="login-box">
			<input type="text" id="login-email" placeholder=" Your Email" ng-model="u.email" /> 
			<input type="text" id="login-password" placeholder="Your Password" ng-model="u.password" />
			<button type="button" class="btn btn-primary" ng-click="vm.login(u)">Login</button>
		</div>
</nav>

<register></register>

