<h1>SD10 Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Github Pages</th>
      <th>Server</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/pdxtrader">Ben Blodgett</a></td>
      <td><a href="https://pdxtrader.github.io">pdxtrader.github.io</a></td>
      <td><a href="http://tbd">http://tbd</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/tmg4321">Miles Grandin</a></td>
      <td><a href="https://tmg4321.github.io">tmg4321.github.io</a></td>
      <td><a href="http://tbd">http://tbd</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/ryangrillo">Ryan Grillo</a></td>
      <td><a href="https://ryangrillo.github.io">ryangrillo.github.io</a></td>
      <td><a href="http://tbd/">http://tbd</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/sebasts">Sebastian Hellsing</a></td>
      <td><a href="https://sebasts.github.io">sebasts.github.io</a></td>
      <td><a href="http://tbd">http://tbd</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/leequid">Eric Lee</a></td>
      <td><a href="https://leequid.github.io">leequid.github.io</a></td>
      <td><a href="http://tbd">http://tbd</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/jpistoriusp">Paul Pistorious</a></td>
      <td><a href="https://jpistoriusp.github.io">jpistoriusp.github.io</a></td>
      <td><a href="http://tbd">http://tbd</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/michael-roschenwimmer">Michael Roschenwimmer</a></td>
      <td><a href="https://michael-roschenwimmer.github.io">michael-roschenwimmer.github.io</a></td>
      <td><a href="http://tbd">http://tbd</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/Ntran1321">Nancy Tran</a></td>
      <td><a href="https://Ntran1321.github.io">Ntran1321.github.io</a></td>
      <td><a href="http://tbd">http://tbd</a></td>
    </tr>
    <!-- <tr> -->
      <!-- <td><a href="https://github.com/cjwood316">Jacob Wood</a></td> -->
      <!-- <td><a href="https://cjwood316.github.io">cjwood316.github.io</a></td> -->
      <!-- <td><a href="http://tbd">http://tbd</a></td> -->
    <!-- </tr> -->
  </tbody> 
</table>
# SD11 Sites

<table>
  <tr>
    <th>Name</th>
    <th>Github Pages</th>
    <th>Server</th>
  </tr>
  <tr>
    <td><a href="https://github.com/andyWynyard">Andy Wynyard</a></td>
    <td><a href="https://andyWynyard.github.io">andyWynyard.github.io</a></td>
    <td><a href="http://34.211.197.80">34.211.197.80</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/Moseslee88">Moses Lee</a></td>
    <td><a href="https://Moseslee88.github.io">Moseslee88.github.io</a></td>
    <td><a href="http://13.56.109.233">13.56.109.233</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/TravisWay">Travis Way</a></td>
    <td><a href="https://TravisWay.github.io">TravisWay.github.io</a></td>
    <td><a href="http://34.212.19.200/">34.212.19.200</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/broberson7801">Bryan Roberson</a></td>
    <td><a href="https://broberson7801.github.io">broberson7801.github.io</a></td>
    <td><a href="http://13.59.188.136">13.59.188.136</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/csgibson4">Connor Gibson</a></td>
    <td><a href="https://csgibson4.github.io">csgibson4.github.io</a></td>
    <td><a href="http://34.212.163.44">34.212.163.44</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/charlieactor">Charlie Actor</a></td>
    <td><a href="https://charlieactor.github.io">charlieactor.github.io</a></td>
    <td><a href="http://34.211.41.238">34.211.41.238</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/Maldojavadev1969">Michael Maldonado</a></td>
    <td><a href="https://Maldojavadev1969.github.io">Maldojavadev1969.github.io</a></td>
    <td><a href="http://13.58.127.195">13.58.127.195</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/JakeDaTank">Jake Paul</a></td>
    <td><a href="https://JakeDaTank.github.io">JakeDaTank.github.io</a></td>
    <td><a href="http://35.163.175.203">35.163.175.203</a></td>
  </tr>
</table>
<table>
  <tr>
    <th>Name</th>
    <th>Github Pages</th>
    <th>Server</th>
  </tr>
 <tr>
    <td><a href="https://github.com/flycal6">Brian Thomas</a></td>
    <td><a href="https://flycal6.github.io">flycal6.github.io</a></td>
    <td><a href="http://18.220.25.115/">http://18.220.25.115/</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/sviaduc">Stan Viaduc</a></td>
    <td><a href="https://sviaduc.github.io">sviaduc.github.io</a></td>
    <td><a href="http://34.213.2.103">http://34.213.2.103</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/abmoll">Alex Moll</a></td>
    <td><a href="https://abmoll.github.io">abmoll.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/Meira1427">Meira  Penterman</a></td>
    <td><a href="https://Meira1427.github.io">Meira1427.github.io</a></td>
    <td><a href="http://18.220.194.202/">http://18.220.194.202/</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/jmeaster1">James Easter</a></td>
    <td><a href="https://jmeaster1.github.io">jmeaster1.github.io</a></td>
    <td><a href="http://35.167.86.108/">http://35.167.86.108/</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/alicimustafa">Mustafa Alici</a></td>
    <td><a href="https://alicimustafa.github.io">alicimustafa.github.io</a></td>
    <td><a href="http://13.59.25.200">http://13.59.25.200</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/erernst">Erik Ernst</a></td>
    <td><a href="https://erernst.github.io">erernst.github.io</a></td>
    <td><a href="http://18.220.214.189">http://18.220.214.189</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/SamRyzek">Sam Ryzek</a></td>
    <td><a href="https://SamRyzek.github.io">SamRyzek.github.io</a></td>
    <td><a href="http://18.220.137.48">http://18.220.137.48</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/addictCoder">David Cash</a></td>
    <td><a href="https://addictCoder.github.io">addictCoder.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/Jmckenn22">Jacqualine McKenna</a></td>
    <td><a href="https://Jmckenn22.github.io">Jmckenn22.github.io</a></td>
    <td><a href="http://18.221.20.120">http://18.221.20.120</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/dougkucera">Doug Kucera</a></td>
    <td><a href="https://dougkucera.github.io">dougkucera.github.io</a></td>
    <td><a href="http://35.160.41.5">http://35.160.41.5</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/christopherhbianchi">Chris Bianchi</a></td>
    <td><a href="https://christopherhbianchi.github.io">christopherhbianchi.github.io</a></td>
    <td><a href="http://52.14.42.197/">http://52.14.42.197/</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/msupg21">Chris Bartkewicz</a></td>
    <td><a href="https://msupg21.github.io">msupg21.github.io</a></td>
    <td><a href="http://18.221.60.173/">http://18.221.60.173/</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/dclarkasu">Daniel Clark</a></td>
    <td><a href="https://dclarkasu.github.io">dclarkasu.github.io</a></td>
    <td><a href="http://52.14.139.50">http://52.14.139.50</a></td>
  </tr>
</table>
<table>
  <tr>
    <th>Name</th>
    <th>Github Pages</th>
    <th>Server</th>
  </tr>
 <tr>
    <td><a href="https://github.com/Supernorwood">Greg Norwood</a></td>
    <td><a href="https://Supernorwood.github.io">Supernorwood.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/RosanneUssery">Rosanne  Ussery</a></td>
    <td><a href="https://RosanneUssery.github.io">RosanneUssery.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/Airik-Leon">Airik  Leon</a></td>
    <td><a href="https://Airik-Leon.github.io">Airik-Leon.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/dstumpe264">David Stumpe</a></td>
    <td><a href="https://dstumpe264.github.io">dstumpe264.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/jenveigel">Jennifer Veigel</a></td>
    <td><a href="https://jenveigel.github.io">jenveigel.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/alexisthelow">Alexis Low</a></td>
    <td><a href="https://alexisthelow.github.io">alexisthelow.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/simmsjt">Jacob Simms</a></td>
    <td><a href="https://simmsjt.github.io">simmsjt.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/aarongithub1">Aaron  Ipp</a></td>
    <td><a href="https://aarongithub1.github.io">aarongithub1.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/ChrisGehrke">Chris Gehrke</a></td>
    <td><a href="https://ChrisGehrke.github.io">ChrisGehrke.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/jdcald13">Jason Caldwell</a></td>
    <td><a href="https://jdcald13.github.io">jdcald13.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/abp1400">Alex Perez</a></td>
    <td><a href="https://abp1400.github.io">abp1400.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/ebrhan">Ekubay Brhane</a></td>
    <td><a href="https://ebrhan.github.io">ebrhan.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/dchirdon">David Chirdon</a></td>
    <td><a href="https://dchirdon.github.io">dchirdon.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/HunterKir">Hunter Kiritis</a></td>
    <td><a href="https://HunterKir.github.io">HunterKir.github.io</a></td>
    <td><a href="http://">http://</a></td>
  </tr>
</table>



# SD5 Sites

<table>
  <tr>
    <th>Name</th>
    <th>Github Pages</th>
    <th>Server</th>
  </tr>
 <tr>
    <td><a href="https://github.com/amp89">Alex Peterson</a></td>
    <td><a href="https://amp89.github.io">amp89.github.io</a></td>
    <td><a href="http://">http://52.38.169.195 </a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/TimothyBrunk">Timothy Brunk</a></td>
    <td><a href="https://TimothyBrunk.github.io">TimothyBrunk.github.io</a></td>
    <td><a href="http://52.38.156.79">http://52.38.156.79</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/usafdvd/">David Avila</a></td>
    <td><a href="usafdvd.github.io">usafdvd.github.io</a></td>
    <td><a href="http://52.37.244.220 ">http://52.37.244.220</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/chrisrioux2/">Chris Rioux</a></td>
    <td><a href="chrisrioux2.github.io">chrisrioux2.github.io</a></td>
    <td><a href="http://52.34.147.40">http://52.34.147.40</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/wezdez/">Weston Blair Ross</a></td>
    <td><a href="wezdez.github.io">wezdez.github.io</a></td>
    <td><a href="http://52.38.110.113">http://52.38.110.113</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/BGGumucio">Brenton Gumucio</a></td>
    <td><a href="BGGumucio.github.io">BGGumucio.github.io</a></td>
    <td><a href="http://52.26.79.13">http://52.26.79.13</a></td>
  </tr>
 <tr>
    <td><a href="http://kamchugh.github.io">Kaylee Kamchugh</a></td>
    <td><a href="ckamchugh.github.io">ckamchugh.github.io</a></td>
    <td><a href="http://52.38.169.223">http://52.38.169.223</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/3YO/">Bruno Trillo</a></td>
    <td><a href="c3YO.github.io">c3YO.github.io</a></td>
    <td><a href="http://52.37.172.255 ">http://52.37.172.255</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/sarahlobser/">Sarah Lobser</a></td>
    <td><a href="sarahlobser.github.io">sarahlobser.github.io</a></td>
    <td><a href="http://52.38.163.64">http://52.38.163.64</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/richardhanksjr/">Richard Hanks Jr.</a></td>
    <td><a href="richardhanksjr.github.io">richardhanksjr.github.io</a></td>
    <td><a href="http://52.38.141.145">http://52.38.141.145</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/richardhanksjr/">Richard Hanks Jr.</a></td>
    <td><a href="richardhanksjr.github.io">richardhanksjr.github.io</a></td>
    <td><a href="http://52.38.141.145">http://52.38.141.145</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/RivPR/">Angel Rivera Moreira</a></td>
    <td><a href="RivPR.github.io">RivPR.github.io</a></td>
    <td><a href="http://52.26.241.225 ">http://52.26.241.225 </a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/ChadChadington/">Chad Arroyo</a></td>
    <td><a href="ChadChadington.github.io">ChadChadington.github.io</a></td>
    <td><a href="http://52.36.169.185">http://52.36.169.185</a></td>
  </tr>
  </table>


# SD6 Sites

<table>
 <tr>
    <td><a href="https://github.com/TolandGooch/">Tooland Gooch</a></td>
    <td><a href="http://TolandGooch.github.io">http://TolandGooch.github.io</a></td>
    <td><a href="http://52.36.174.229">http://52.36.174.229</a></td>
  </tr>
 <tr>
    <td><a href=" https://github.com/nicklang88/">Nick Lang</a></td>
    <td><a href="http://nicklang88.github.io">http://nicklang88.github.io</a></td>
    <td><a href="http://52.70.32.145">http://52.70.32.145</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/eginter/">Elijah Ginter</a></td>
    <td><a href="http://eginter.github.io">http://eginter.github.io</a></td>
    <td><a href="http://52.88.227.165">http://52.88.227.165</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/JosiahDM/">Josiah Moye</a></td>
    <td><a href="http://JosiahDM.github.io">http://JosiahDM.github.io</a></td>
    <td><a href="http://52.88.199.131">http://52.88.199.131</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/Anniefisher/">Annie Fisher</a></td>
    <td><a href="http://Anniefisher.github.io">http://Anniefisher.github.io</a></td>
    <td><a href="http://52.10.144.122">http://52.10.144.122</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/stevenmadams/">Steven Adams</a></td>
    <td><a href="http://stevenmadams.github.io">http://stevenmadams.github.io</a></td>
    <td><a href="http://52.42.156.79">http://52.42.156.79</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/kleighedwards/">Kristen Edwards</a></td>
    <td><a href="http://kleighedwards.github.io">http://kleighedwards.github.io</a></td>
    <td><a href="http://52.34.37.216">http://52.34.37.216</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/PatGaston3/">Patrick Gaston</a></td>
    <td><a href="http://PatGaston3.github.io">http://PatGaston3.github.io</a></td>
    <td><a href="http://52.89.31.134">http://52.89.31.134</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/rodhammond/">Rod Hammond</a></td>
    <td><a href="http://rodhammond.github.io">http://rodhammond.github.io</a></td>
    <td><a href="http://52.88.133.73">http://52.88.133.73</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/stevenagle/">Steve Nagle</a></td>
    <td><a href="http://stevenagle.github.io">http://stevenagle.github.io</a></td>
    <td><a href="http://52.43.151.71">http://52.43.151.71</a></td>
  </tr>
 <tr>
    <td><a href="https://github.com/StevenZuber/">Steven Zuber</a></td>
    <td><a href="http://StevenZuber.github.io">http://StevesZuber.github.io</a></td>
    <td><a href="http://52.42.75.24">http://52.42.75.24</a></td>
  </tr>
</table>


SD9 Sites
<table>
  <tr>
    <th>Name</th>
    <th>Github Pages</th>
    <th>Server</th>
  </tr>
  <tr>
    <td><a href="https://github.com/DanRezo">Daniel Balarezo</a></td>
    <td><a href="https://DanRezo.github.io">DanRezo.github.io</a></td>
    <td><a href="http://52.43.203.210">http://52.43.203.210</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/dburn22">David Burnett</a></td>
    <td><a href="https://dburn22.github.io">dburn22.github.io</a></td>
    <td><a href="http://52.43.84.216">http://52.43.84.216</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/dxc026">Dennis Carrasquillo</a></td>
    <td><a href="https://dxc026.github.io">dxc026.github.io</a></td>
    <td><a href="http://52.43.99.54/">http://52.43.99.54</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/chiangs">Stephen Chiang</a></td>
    <td><a href="https://chiangs.github.io">chiangs.github.io</a></td>
    <td><a href="http://52.43.150.156">http://52.43.150.156</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/shaundashjian">Shaun Dashjian</a></td>
    <td><a href="https://shaundashjian.github.io">shaundashjian.github.io</a></td>
    <td><a href="http://35.165.97.233">http://35.165.97.233</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/gmengler">Greg Engler</a></td>
    <td><a href="https://gmengler.github.io">gmengler.github.io</a></td>
    <td><a href="http://52.41.167.247">http:///52.41.167.247</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/StefanFuller147">Stefan Fuller</a></td>
    <td><a href="https://StefanFuller147.github.io">StefanFuller147.github.io</a></td>
    <td><a href="http://52.43.2.67">http://52.43.2.67</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/theguywhodoesthething">Matt Gmur</a></td>
    <td><a href="https://theguywhodoesthething.github.io">theguywhodoesthething.github.io</a></td>
    <td><a href="http://52.34.71.100">http://52.34.71.100</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/Willrobo">Will Roberts</a></td>
    <td><a href="https://Willrobo.github.io">Willrobo.github.io</a></td>
    <td><a href="http://54.71.110.18">http://54.71.110.18</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/Kumar72">Chandan Thakur</a></td>
    <td><a href="https://Kumar72.github.io">Kumar72.github.io</a></td>
    <td><a href="http://52.88.48.18">http://52.88.48.18</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/hesitatetowonder">Greg Taylor</a></td>
    <td><a href="https://hesitatetowonder.github.io">hesitatetowonder.github.io</a></td>
    <td><a href="http://52.42.34.134">http://52.42.34.134</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/swthomas">Seth Thomas</a></td>
    <td><a href="https://swthomas.github.io">swthomas.github.io</a></td>
    <td><a href="http://35.162.216.236">http://35.162.216.236</a></td>
  </tr>
  <tr>
    <td><a href="https://github.com/ehrenwilliamson">Ehren Williamson</a></td>
    <td><a href="https://ehrenwilliamson.github.io">ehrenwilliamson.github.io</a></td>
    <td><a href="http://35.165.49.7">http://35.165.49.7</a></td>
  </tr>
</table>
