<form>
<div class="container">
    <h1 class="well">SDConnect New User</h1>

					<div class="alert alert-danger" ng-show="vm.dupEmail">
		  			<strong>Sorry, that email is already registered. Please type another email.</strong> 
					</div>	
					
					<div>
						<label>Email Address</label>
						<input type="text" placeholder="Enter Your Email Address" class="form-control" ng-model="user.email">
					</div>	
					<div>
						<label>Password</label>
						<input type="text" placeholder="Enter Your Password" class="form-control" ng-model="user.password">
					</div>	
					<div>
						<label>Cohort</label>
						<input type="text" placeholder="Enter Your Cohort Number" class="form-control" ng-model="user.cohort.cohortNum">
					</div>	
						<input type="hidden" placeholder="Enter Type" class="form-control" ng-model="user.type.id = 2">
						<input type="hidden" placeholder="Enter Type" class="form-control" ng-model="user.active = 'on'">
						<br>
					<button type="button" class="btn btn-primary" ng-click="vm.register(user)">Join Now!</button>					
					</div>
				</div>
				
				
	
	</form>
