<navigation></navigation>

<h1 style="">SD Users</h1>
<a ng-show="vm.viewProfile" class="btn btn-secondary" role="button" ng-click="vm.viewProfile = false">Hide Profile Info</a>
<a ng-hide="vm.viewProfile" class="btn btn-secondary" role="button" ng-click="vm.viewProfile = true">Show Profile Info</a>

<span class="container marketing" ng-repeat="profile in vm.profiles">
	<span class="row">
		<span class="col-lg-6">
			<img class="rounded-circle" ng-src="{{profile.img}}" width="140"
				height="140">
			<div id="user-name">
				<h2>{{profile.fname}} {{profile.lname}}</h2>
			</div>
			<div ng-show="vm.viewProfile">
				<div>
					<h4>Background: {{profile.backgroundDescription}}</h4>
				<!-- 	<h2>{{profile.previousIndustry}}</h2> -->
					<h4>Coding Experience: {{profile.codingExperience}}</h4>
					<h4>{{profile.websiteUrl}}</h4>
					<h4>{{profile.githubUrl}}</h4>
					<h4>{{profile.linkedinUrl}}</h4>
				</div>
			</div>
			<p>
				<a ng-hide="vm.viewProfile" class="btn btn-secondary" role="button" ng-click="vm.viewProfile = true">Show Profile Info</a>
	         	<input class="btn btn-success" type="submit" value="Delete Profile" ng-click="vm.deleteProfile(profile)"/>
			</p>

		</div>
	</div>
	</span>
</span>
