<navigation></navigation>

<h1>SD Users</h1> 
 
 <div class="container marketing" ng-repeat="profile in vm.profiles">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="profile.img" width="140" height="140">
            <h2>{{profile.fname}} {{profile.lname}}</h2>
   <!--          <p>{{alumni.cohort}}<p> -->
            <p><a class="btn btn-secondary" role="button" ng-click="vm.viewProfile(profile)">View Profile</a></p>
          </div><!-- /.col-lg-4 -->
         
        </div>