div#login-logo { /*from the authmodule login html page  */
	display: inline-block;
	float: left;
}

div#login-box { /*from the authmodule login html page  */
	display: inline-block;
	float: right;
}

div#no-wrap-reset {
	display: inline-block;
	clear: both;
}

.login-space {
	width: 300px;
}

#login-password {
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
}

#login-email {
	width: 300px;
}

th {
	font-family: Arial;
	font-weight: 900;
}

#profilebox-center {
	margin: auto;
    width: 50%;
/*     border: 3px solid green; */
    padding: 10px;
    margin-top: 100px;
    font-size: 200%;
    /* background-color: #8db8d8; */
}

#profilebox-center img {
	margin: auto;
	display: block;
}

#userconnect-center {
	padding-bottom: 20px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
    width: 50%;
}
