#login-box { /*from the authmodule login html page  */
	float: right;
}

.login-space {
	width: 300px;
}

#forum-box {
	margin-top: 3%;
	margin-bottom: 3%;
	/* style="border: 2px solid navy" */
}

#project-box {
	margin-top: 3%;
/* 	min-width:300px;
	max-width: 50%; */
}

#event-box {
	margin-top: 3%;	
}

#login-password {
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
}

#login-email {
	width: 300px;
}

th {
	font-family: Arial;
	font-weight: 900;
}

#profilebox-center {
	margin: auto;
    width: 50%;
/*     border: 3px solid green; */
    padding: 10px;
    margin-top: 100px;
    font-size: 200%;
}

#profilebox-center img {
	margin: auto;
	display: block;
}

#userconnect-center {
	padding-bottom: 20px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
    width: 50%;
}

#whatever {
	margin-top: -100px;
}
