 <navigation></navigation>
 
 <div class="album text-muted" ng-hide="vm.selectedCategory || vm.add"> <!-- may need to circle back -->
        <div class="container">
          <div class="row">
            <div class="card">
            	 <a ng-click="vm.setCategory('Resume')"> <!-- this route can change -->
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              </a>
              <p class="card-text">Resume</p>
            </div>
            
            <div class="card">
            	 <a ng-click="vm.setCategory('CoverLetter')">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              </a>
              <p class="card-text">Cover Letter</p>
            </div>
            
            <div class="card">
              <a ng-click="vm.setCategory('Interview')">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              </a>
              <p class="card-text">Interview Questions</p>
            </div>

         <div class="card">
         	<a ng-click="vm.setAddResource()"><!-- set a ng-show/hide with a var -->
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
            </a>  
              <p class="card-text">Add a Resource</p>
         </div>
           
          </div>

        </div>
      </div>
      
  <!-- our add a resource page --> <!-- can we submit a form with a post on it? -->
  <div ng-show="vm.add">
	  <h3>Add</h3>
	  <form>
	  	<input type="text" ng-model="resource.name" placeholder="Name"/><br> <!-- gives it a topic object and assigns its name -->
	  	<input type="text" ng-model="resource.posts[0].message" placeholder="Description"/><br> <!-- gives that local topic a post object and assigns its message -->
	  	<input type="text" ng-model="resource.posts[0].link" placeholder="Link"/><br> <!-- can put in a link and click on it and go to it rn -->
	  	<input type="submit" value="Add Resource" ng-click="vm.createResource(resource)"/>
	  	<input type="submit" value="Cancel" ng-click="vm.cancelCreation()"/>
	  </form>
   </div>
  
  
      
      
     
      
      <!-- our list of topics that show up with a keyword -->
   <div name="list" class="album text-muted">
      	<!-- button to show all the categories again -->
      	<div ng-show="vm.selectedCategory">
      		<input type="submit" ng-click="vm.setCategory(null)" value="Show Categories"/>
      		<br>
      		<br>
      	</div>
      
      <!-- our table of all topics -->
      	<div class="album text-muted" ng-show="vm.selectedCategory"> <!-- may need to circle back --><!--  ng-hide="vm.selected" -->
        <div class="container">
          <div class="row">
            <div class="card" ng-repeat="resource in vm.resources">
            	 <a ng-click="vm.showResource(resource)"> <!-- this route can change -->
              <img ng-src="{{resource.posts[0].user.profile.img}}" alt="Card image cap" style="width:50px;height:50px;">
             </a>
              <p class="card-text">
              	<ul><!-- need the card to repeat, and a preview of the pdf to show -->
              		<li>Id: {{resource.id}}</li>
              		<li>Name: {{resource.name}}</li>
              		<li>Posted By: {{resource.posts[0].user.profile.fname}} {{resource.posts[0].user.profile.lname}}</li>
              		<li>Date: {{resource.posts[0].postDate}}</li>
              	</ul>
              </p>
            </div>
            
            <!-- pdf viewer shit -->
           <div ng-show="vm.selected">
	            <style>
		          html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
		          .pdf-styles { width: 100%; height: 100%; }
		        </style>
	            	<div class="some-pdf-container"> <!-- ng-src maybe? -->
	           	 	<pdfjs-viewer src="{{ vm.selected.posts[0].link }}"></pdfjs-viewer><!-- src unles errors -->
	        		</div>
        		</div>
            <!-- 
           <tr ng-repeat="resource in vm.resources"> <!-- resource is a topic
					<td>{{resource.id}}</td>      			
					<td><a ng-click="vm.showResource(resource)">{{resource.name}}</a></td>      			
					<td>{{resource.posts[0].user.profile.fname}} {{resource.posts[0].user.profile.lname}}</td>      			
					<td>{{resource.posts[0].postDate}}</td>      			
      			</tr> -->
           
          </div>

        </div>
      </div>
      	
      	
      	
      	
      	<!--  
      	
      	<table ng-show="vm.selectedCategory" ng-hide="vm.selected">
      		<thead>
      			<tr>
					<th>Id</th>      			
					<th>Name</th>      			
					<th>Posted By</th>      			
					<th>Date</th>      			
      			</tr>
      		</thead>
      		<tbody>
      			<tr ng-repeat="resource in vm.resources"> <!-- resource is a topic
					<td>{{resource.id}}</td>      			
					<td><a ng-click="vm.showResource(resource)">{{resource.name}}</a></td>      			
					<td>{{resource.posts[0].user.profile.fname}} {{resource.posts[0].user.profile.lname}}</td>      			
					<td>{{resource.posts[0].postDate}}</td>      			
      			</tr>
      		</tbody>
      	</table> 
      	
      	-->
      	
      	<!-- our topic with its posts written out underneath it -->
   <div ng-show="vm.selected">
      	<h1>{{vm.selected.name}}</h1> <br>
		   <h3>Posts</h3>
			<table>
				<thead>
					<tr>
						<th>Post Date</th>
						<th>Message</th>
						<th>User</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="post in vm.selected.posts">
						<td>{{post.postDate}}</td>
						<td>{{post.message}}</td>
						<td><img ng-src="{{post.user.img}}"/></td>
						<td>{{post.user.email}}</td>
						<td ng-show='vm.currentAuthorPost(post.id)'><input type='submit' name='submit' value='Edit' ng-click='vm.editPost(post.id)' /></td>
					</tr>
				</tbody>
			</table>
			<form>
				<input type="textarea" rows="10" cols="50" placeholder="Reply to this thread.">
				<input type="submit" value="Post">
			</form>
	</div> 
 </div>
