	<div class="container-fluid">
	<div class="fixed col-xs-3">
		<div ng-hide='vm.postView || vm.topicSelected || vm.postSelected'>
		<h1 style="font-weight: bold; text-align: center; margin-bottom: 20px">Threads</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Select</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="topic in vm.currentTopics">
					<td>{{topic.name}}</td>
					<td><input type='submit' name='submit' value='Select' ng-click='vm.getPostsPerTopic(topic.id)' /></td>
					<td ng-show='vm.currentAdmin()'><input type='submit' value='Edit' ng-click='vm.editTopic(topic)' /></td>
				</tr>
			</tbody>
		</table>
		<input type='submit' value='New Thread' ng-click='vm.newTopic=true' />
		<input type='submit' name='submit' value='Filter by Resume Only' ng-click='vm.getTopicByTagKeyword("Resume")' />
		</div>
	</div>
	</div>
		
	<div class="container-fluid">
	<div class="fixed col-xs-3">	
		<div ng-show='vm.postView'>
		<h1 style="font-weight: bold; text-align: center; margin-bottom: 20px">Posts</h1>
			<table>
				<thead>
					<tr>
						<th>Post Date</th>
						<th>Message</th>
						<th>User</th>
						<th>Link</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="post in vm.currentPosts">
						<td>{{post.postDate}}</td>
						<td>{{post.message}}</td>
						<td>{{post.user.profile.fname}} {{post.user.profile.lname}}</td>
						<td>{{post.link}}</td>
						<td ng-show='vm.currentAuthorPost(post)'><input type='submit' name='submit' value='Edit' ng-click='vm.editPost(post)' /></td>
					</tr>
				</tbody>
			</table>
			<input type='submit' name='submit' value='Return to List of Threads' ng-click='vm.displayTopics()' />
		</div>
	</div>
	</div>
	
	<div ng-show="vm.postSelected">
		<form>
			<label>Message:</label><textarea rows="10" cols="50" ng-model='vm.postSelected.message'></textarea><br>
			<label>Link:</label><input type='text' ng-model='vm.postSelected.link'><br>
			<input type='submit' value='Save' ng-click='vm.updatePost(vm.postSelected)' /><br>
			<input type='submit' value='Delete' ng-click='vm.deletePost(vm.postSelected.id)' /><br>
			<input type='submit' value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
	</div>
	<div ng-show="vm.topicSelected">
		<form>
			<label>Title:</label><input type='text' ng-model='vm.topicSelected.name'><br>
			<input type='submit' value='Save' ng-click='vm.updateTopic(vm.topicSelected)' /><br>
			<input type='submit' value='Delete' ng-click='vm.deleteTopic(vm.topicSelected.id)' /><br>
			<input type='submit' value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
	</div>
	<div ng-show="vm.newPost == true">
		<form>
			<label>Message:</label><input type='text' ng-model='new.message'><br>
			<label>Link:</label><input type='text' ng-model='new.link'><br>
			<input type='submit' value='Save' ng-click='vm.createPost(new); new={}' /><br>
			<input type='submit' value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
	</div>
	<div ng-show="vm.newTopic == true">
		<form>
			<lable>Title:</lable><input type='text' ng-model='new.name'><br>
			<select>
				<
			
			</select>
			<input type='submit' value='Save' ng-click='vm.createTopic(new); new={}' /><br>
			<input type='submit' value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
	</div>	