 <div ng-hide='vm.postView || vm.postSelected || vm.newPost '>
     <div class="row">
         <div class="col-md-12">
             <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">Threads</h1>
         </div>
     </div>
	 <div id="page-wrapper-f">
	     <div id="page-inner">
		<!-- <div class="container-fluid">
		<div class="fixed col-xs-3"> -->
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Select</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="topic in vm.currentTopics | orderBy : '-id' ">
						<td>{{topic.name}}</td>
						<td><input type='submit' class="btn btn-primary" name='submit' value='Select' ng-click='vm.getPostsPerTopic(topic)' /></td>
						<td ng-show='vm.currentAdmin()'><input class="btn btn-success" type='submit' value='Edit' ng-click='vm.editTopic(topic)' /></td>
					</tr>
				</tbody>
			</table>
			
			<!-- <input type='submit' name='submit' value='Filter by Resume Only' ng-click='vm.getTopicByTagKeyword("Resume")' /> -->
		</div>
	
	</div>
	<div class="new-buttons">
		<input type='submit' class="btn btn-success" value='New Thread' ng-click='vm.newTopic=true' />
	</div>
</div>


<div ng-show='vm.postView || vm.postSelected || vm.newPost'>		
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">{{vm.currentTopicName}}</h1>
        </div>
    </div>
	<div id="page-wrapper-f">
	      <div id="page-inner">
	                <div ng-repeat="post in vm.currentPosts | orderBy : 'id'" class="row">
	                   <div class="col-md-12">
	                        <div class="panel panel-success">
	                            <div class="panel-heading">
	                               {{post.postDate}}
	                            </div>
	                            <div class="panel-body" style="padding: 0px;">
	                                <div class="chat-widget-main">
	                                    <div ng-class="vm.getClassPostMain(post.id)">
	                                        {{post.message}}
	                                    </div>
	                                    <div ng-class="getClassPostName(post.id)">
	                                        <h4>{{post.user.profile.fname}} {{post.user.profile.lname}}</h4>
	                                        <img src='{{post.user.profile.img}}' alt='{{post.user.profile.lname}}' width="50"/>
	                                        <input ng-show='vm.currentAuthorPost(post)' class="btn btn-success" type='submit' name='submit' value='Edit Post' ng-click='vm.editPost(post)' />
	                                    </div>
	                                 </div> <!-- end chat widget main -->
	                            </div> <!-- end panel-body -->
	                       </div> <!-- end panel panel-success -->
	                   </div> <!-- end col-md-6 -->
				</div> <!-- end row -->
		</div> <!-- end page inner  -->
	</div> <!-- end page wrapper -->
	<div class="new-buttons">
		<input type='submit' class="btn btn-success" value='New Post' ng-click='vm.newPost=true' />
		<input type='submit' class="btn btn-primary" name='submit' value='Return to List of Threads' ng-click='vm.displayTopics()' />
	</div>
</div>

<div ng-show="vm.postSelected">		
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">Edit Post</h1>
        </div>
    </div>
<!-- 	<div id="page-wrapper-f">
      <div id="page-inner"> -->
		<form>
			<label>Message:</label><textarea rows="3" cols="50" ng-model='vm.postSelected.message'></textarea><br>
			<label>Link:</label><input type='text' style='width:300px' ng-model='vm.postSelected.link'><br>
			<input type='submit' class="btn btn-success" value='Save' ng-click='vm.updatePost(vm.postSelected)' /><br>
			<input type='submit' class="btn btn-danger" value='Delete' ng-click='vm.deletePost(vm.postSelected.id);' /><br>
			<input type='submit' class="btn btn-primary" value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
<!-- 	  </div> end page inner
	</div> end page wrapper -->
</div> <!-- end ng-show -->


<div ng-show="vm.topicSelected">		
	<div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">Edit Thread</h1>
        </div>
    </div>
	<!-- <div id="page-wrapper-f">
      <div id="page-inner"> --> 
		<form>
			<label>Title:</label><input type='text' style='width:400px' ng-model='vm.topicSelected.name'><br>
			<input class="btn btn-success" type='submit' value='Save' ng-click='vm.updateTopic(vm.topicSelected)' /><br>
			<input class="btn btn-danger" type='submit' value='Delete' ng-click='vm.deleteTopic(vm.topicSelected.id)' /><br>
			<input class="btn btn-primary" type='submit' value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
<!-- 	  </div> end page inner
	</div> end page wrapper -->
</div> <!-- end ng-show -->

	
<div ng-show="vm.newPost == true">		
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">New Post</h1>
        </div>
    </div>	
	<!-- <div id="page-wrapper-f">
      <div id="page-inner"> -->
		<form>
			<label>Message:</label><textarea rows="3" cols="50" ng-model='new.message'></textarea><br>
			<label>Link:</label><input type='text' style='width:300px' ng-model='new.link'><br>
			<input type='submit' class="btn btn-success" value='New Post' ng-click='vm.createPost(new); new={}' /><br>
			<input type='submit' class="btn btn-primary" value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
<!-- 	  </div> end page inner
	</div> end page wrapper -->
</div> <!-- end ng-show -->

<div ng-show="vm.newTopic == true">		
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">New Thread</h1>
        </div>
    </div>	
	<!-- <div id="page-wrapper-f">
      <div id="page-inner"> -->
		<form ng-model="new">
			<lable>Title:</lable><input type='text' style='width:400px' ng-model='new.name'><br>
			<lable>Tag:</lable>
			<select ng-options="item.type for item in vm.allTags track by item.id" ng-model="new.tag"></select>
			<input type='submit' class="btn btn-success" value='New Thread' ng-click='vm.createTopic(new); new={}' /><br>
			<input type='submit' class="btn btn-primary" value='Cancel' ng-click='vm.displayTopics()' /><br>
		</form>
<!-- 	  </div> end page inner
	</div> end page wrapper -->
</div> <!-- end ng-show -->
