<navigation></navigation>

<!-- put all of the resumes and links on this page hardcoded -->

<div class="col-lg-12"
	style="display: flex; flex-wrap: wrap; margin-top: 50px">

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/amoreira.pdf"> <img
			src="img/resume/amoreira.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Angel Moreira</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/cbianchi.pdf"> <img
			src="img/resume/cbianchi.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Christopher Bianchi</h4>
	</div>
	<!--end of gallery product class  -->



	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/jmckenna.pdf"> <img
			src="img/resume/jmckenna.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Jacqualine McKenna</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/mjump.pdf"> <img src="img/resume/mjump.png"
			class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Matthew Jump</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/mpentermann.pdf"> <img
			src="img/resume/mpentermann.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Meira Pentermann</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/panderson.pdf"> <img
			src="img/resume/panderson.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Pelham Anderson</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/pgaston.pdf"> <img
			src="img/resume/pgaston.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Patrick Gaston</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/ppistorius.pdf"> <img
			src="img/resume/ppistorius.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Paul Pistorius</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/rgrillo.pdf"> <img
			src="img/resume/rgrillo.png" class="img-thumbnail"width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Ryan Grillo</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/rhelmick.pdf"> <img
			src="img/resume/rhelmick.png" class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Robert Helmick</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/sadams.pdf"> <img src="img/resume/sadams.png"
			class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Steve Adams</h4>
	</div>
	<!--end of gallery product class  -->

	<div class="col-lg-4" id="userconnect-center">
		<a href="img/resume/sryzek.pdf"> <img src="img/resume/sryzek.png"
			class="img-thumbnail" width="300"
			height="400">
		</a>
		<h4 style="margin-top: 20px">Samuel Ryzek</h4>
	</div>
	<!--end of gallery product class  -->


</div>
<!-- end of col lg 12 div -->
