
<!-- navbar-expand-lg navbar-light bg-light --><!-- old navbar -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded"> 
<a href="#/home"><img src = "img/generalImages/SDConnectLogo.png" height="70px"/></a>
 <!--  <a class="navbar-brand" href="#/home"><h1 style="font-weight:bold">SDConnect</h1></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li style="font-size: 2em">
        <a class="nav-link" href="#/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li style="font-size: 2em">
        <a class="nav-link" href="#/profile">Profile</a>
      </li>
      <li style="font-size: 2em">
        <a class="nav-link" href="#/userconnect">SD Users</a>
      </li>
      <li style="font-size: 2em">
        <a class="nav-link" href="#/resources">Resources</a>
      </li>
<!--       <li style="font-size: 2em" ng-hide="vm.isLoggedInCookie()">
        <a class="nav-link" href="#/login">Log In</a>
      </li>
      <li style="font-size: 2em" ng-show="vm.isLoggedInCookie()">
        <a class="nav-link" href="#/login">Log Out</a>
      </li>
     -->
     </ul>
    
     <form class="form-inline my-2 my-lg-0">
     <a href="#/login"><input type='submit' ng-hide="vm.isLoggedInCookie()" class="btn btn-success" value="Log In"/></a>
     <a href="#/login"><input type='submit' ng-show="vm.isLoggedInCookie()" class="btn btn-success" value="Log Out"/></a>
    </form>
    
  </div>
</nav>
