<div class="container-fluid">
<div class="fixed col-xs-3">
<h1 style="font-weight: bold; text-align: center; margin-bottom: 20px">Projects</h1>
	<div ng-hide='vm.projectSelected || vm.newProject'>
		<table class="table">
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Description</th>
					<th>Estimated Hours</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in vm.projectList">
					<td ng-class='vm.getIntensity(project.estimatedHours)'>{{project.name}}</td>
					<td ng-class='vm.getIntensity(project.estimatedHours)'>{{project.description}}</td>
					<td ng-class='vm.getIntensity(project.estimatedHours)'>{{project.estimatedHours}}</td>
					<td ng-show='vm.currentAdmin()'><input type='submit' value='Edit' ng-click='vm.editProject(project)' /></td>
				</tr>
			</tbody>
		</table>
		<div ng-show='vm.currentAdmin()'>
			<input type='submit' value='New Project' ng-click='vm.newProject = true' />
		</div>
		</div>
	</div>
</div>
<div ng-show="vm.projectSelected">
		<form>
			<label>Name:</label><input type='text' style='width:200px' ng-model='vm.projectSelected.name'><br>
			<label>Description:</label><input type='text' style='width:300px' ng-model='vm.projectSelected.description'><br>
			<label>Estimated Hours:</label><input type='text' ng-model='vm.projectSelected.estimatedHours'><br>
			<input type='submit' value='Save' ng-click='vm.updateProject(vm.projectSelected)' /><br>
			<input type='submit' value='Delete' ng-click='vm.deleteProject(vm.projectSelected.id)' /><br>
			<input type='submit' value='Cancel' ng-click='vm.displayProjects()' /><br>
		</form>
	</div>
	
	<div ng-show="vm.newProject == true">
		<form>
			<label>Name:</label><input type='text'  style='width:200px' ng-model='new.name'><br>
			<label>Description:</label><input type='text' style='width:300px' ng-model='new.description'><br>
			<label>EstimatedHours:</label><input type='text' ng-model='new.estimatedHours'><br>
			<input type='submit' value='New Project' ng-click='vm.createProject(new); new={}' /><br>
			<input type='submit' value='Cancel' ng-click='vm.displayProjects()' /><br>
		</form>
	</div>