 <div id="project-border">
 <div ng-hide='vm.projectSelected || vm.newProject'>
     <div class="row">
         <div class="col-md-12">
             <h1 class="page-head-line">Projects</h1>
         </div>
     </div>
	 <div id="page-wrapper-f">
	     <div id="page-inner">
			<table class="table">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Description</th>
						<th>Weekend Hours</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in vm.projectList | orderBy:'id'">
						<td ng-class='vm.getIntensity(project.estimatedHours)'>{{project.name}}</td>
						<td ng-class='vm.getIntensity(project.estimatedHours)'>{{project.description}}</td>
						<td ng-class='vm.getIntensity(project.estimatedHours)'>{{project.estimatedHours}}</td>
						<td ng-class='vm.getIntensity(project.estimatedHours)' ng-show='vm.currentAdmin()'><input type='submit' class="btn btn-success" value='Edit' ng-click='vm.editProject(project)' /></td>
					</tr>
				</tbody>
			</table>
		</div> <!-- end page inner -->
	</div> <!-- end page wrapper -->
	<div class="new-buttons" ng-show='vm.currentAdmin()'>
		<input class="btn btn-success" type='submit' value='New Project' ng-click='vm.newProject = true' />
	</div>
</div> <!-- end ng-hide -->

 <div ng-show="vm.projectSelected">
     <div class="row">
         <div class="col-md-12">
             <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">Edit Project</h1>
         </div>
     </div>
	 <div id="page-wrapper-f">
	     <div id="page-inner">
			<form>
				<label>Name:</label><input type='text' style='width:200px' ng-model='vm.projectSelected.name'><br>
				<label>Description:</label><input type='text' style='width:300px' ng-model='vm.projectSelected.description'><br>
				<label>Weekend Hours:</label><input type='text' ng-model='vm.projectSelected.estimatedHours'><br><br>
				<input type='submit' class="btn btn-success" value='Save' ng-click='vm.updateProject(vm.projectSelected)' />
				<input type='submit' class="btn btn-danger" value='Delete' ng-click='vm.deleteProject(vm.projectSelected.id)' />
				<input type='submit' class="btn btn-primary" value='Cancel' ng-click='vm.displayProjects()' />
			</form>
		</div> <!-- end inner -->
	</div> <!-- end wrapper -->
</div> <!-- end ng-show -->

 <div ng-show="vm.newProject == true">
     <div class="row">
         <div class="col-md-12">
             <h1 class="page-head-line" style="font-weight: bold; text-align: center; margin-bottom: 20px">New Project</h1>
         </div>
     </div>	
	 <div id="page-wrapper-f">
	     <div id="page-inner">
			<form>
				<label>Name:</label><input type='text'  style='width:200px' ng-model='new.name'><br>
				<label>Description:</label><input type='text' style='width:300px' ng-model='new.description'><br>
				<label>Weekend Hours:</label><input type='text' ng-model='new.estimatedHours'><br>
				<input type='submit' class="btn btn-success" value='New Project' ng-click='vm.createProject(new); new={}' /><br>
				<input type='submit'class="btn btn-primary"  value='Cancel' ng-click='vm.displayProjects()' /><br>
			</form>
		</div> <!-- end inner -->
	</div> <!-- end wrapper -->
</div> <!-- end ng-show -->
</div>	
	