<navigation></navigation>
<form>
	<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
       <br>
       <br>
       <br>
       <br>
      </div>
          <div class="panel panel-info">
            <div class="panel-heading">
            	<input type ="text" placeholder="First Name" ng-model="vm.profile.fname"/>
            	<input type ="text" placeholder="Last Name" ng-model="vm.profile.lname"/>            	 
              <h3 class="panel-title" >{{vm.profile.fname}} {{vm.profile.lname}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Background:</td>
                		  
                		       <td>
							  <textarea name="message" rows="5" cols="30" ng-model="vm.profile.backgroundDescription">{{vm.profile.backgroundDescription}}</textarea>
							</td>
                      </tr>
                      <tr>
                        <td>Previous Industry:</td>
                  
                		       <td>
							  <textarea name="message" rows="2" cols="30" ng-model="vm.profile.previousIndustry">{{vm.profile.Industry}}</textarea>
							</td>
                      </tr>
                      <tr>
                        <td>Coding Experience:</td>
                      
                		       <td>
							  <textarea name="message" rows="2" cols="30" ng-model="vm.profile.codingExperience">{{vm.profile.codingExperience}}</textarea>
							</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Personal Website:</td>
                        
                		       <td>
							  <textarea name="message" rows="1" cols="30" ng-model="vm.profile.websiteUrl">{{vm.profile.websiteUrl}}</textarea>
							</td>
                      </tr>
                        <tr>
                        <td>GitHub:</td>
                        
                		       <td>
							  <textarea name="message" rows="1" cols="30" ng-model="vm.profile.githubUrl">{{vm.profile.githubUrl}}</textarea>
							</td>
                      </tr>
                      <tr>
                        <td>LinkedIn:</td>
                        
                		       <td>
							  <textarea name="message" rows="1" cols="30" ng-model="vm.profile.linkedinUrl">{{vm.profile.linkedinUrl}}</textarea>
							</td>
   
                    </tbody>
                  </table>
							<input type="submit" ng-click="vm.submit(vm.profile)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>